/vendor
/node_modules
/public/storage
/storage/*.key
/.idea
/.vscode
/.phpunit.result.cache
/.env
/.env.local
/.env.*.local
Homestead.json
Homestead.yaml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.phpunit.result.cache
/storage/debugbar
/storage/app/public
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
/public/hot
/public/storage
/.sass-cache
/.vagrant
/.env.backup
